[[extend 'layout.html']]
<html>
<head>
   <meta charset="utf-8">
   <title>Birds</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
<div class="section">
   <!-- Put the table here -->
   <div class="section">
      <!-- move with the scalar-->
      <div class="is-mobile">
         <h1 class = "title"><b>Bird</b></h1>
      </div>
   </div>
   <a class="button is-success" href="[[=URL('add')]]">
      <span class="icon"><i class="fa fa-plus"></i></span>
      <span>Add Entry</span>
   </a>
   <table class="table is-striped">
      <tr>
         <th>bird</th>
         <th>weight</th>
         <th>diet</th>
         <th>habitat</th>
         <th>n_sightings</th>
      </tr>
      <!-- list of items for bird db -->
      [[for item in info:]]
      <tr>
         <td>[[=item.bird]]</td>
         <td>[[=item.weight]]</td>
         <td>[[=item.diet]]</td>
         <td>[[=item.habitat]]</td>
         <td>[[=item.n_sightings]]</td>
         <td>
            
            <a class="button is-success" href="[[=URL('inc', item.id, signer=urlSigner)]]">
               <span class="icon">
                  <i class="fa fa-plus"></i>
               </span>
               <span>
                  +1
               </span>
            </a>
            <!-- buttons to click -->
            <a class="button" href="[[=URL('edit', item.id, signer=urlSigner)]]">
               <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit your Entry</span>
            </a>
            <a class="button" href="[[=URL('del', item.id, signer=urlSigner)]]">
               <span class="icon">
                  <i class="fa fa-trash"></i>
               </span>
            </a>
         </td>
      </tr>
      [[continue]]
   </table>
</div>
</body>
</html>