[[extend 'layout.html']]

<div class="section">
   <h1 class="title"> [[=currContact]]'s Phone Numbers </h1>

    <table class="table is-striped is-fullwidth">
        <tr>
            <th>Phone Number</th>
            <th>Kind</th>
            <th> </th>
        </tr>
        [[for r in rows:]]
        <tr>
            <td> [[=r.phone.phone_number]]</td>
            <td> [[=r.phone.phone_name]]</td>
            <td>
                <a class="button is-dark" href="[[=URL('edit_phone', r.contact.id,r.phone.id, signer=url_signer)]]" >
                    <span class="icon">
                      <i class="fa fa-fw fa-pencil"></i>
                    </span>
                </a>
                <a class="button is-danger" href="[[=URL('delete_phone', r.contact.id,r.phone.id, signer=url_signer)]]" >
                    <span class="icon">
                      <i class="fa fa-fw fa-trash"></i>
                    </span>
                </a>

            </td>


        </tr>

        [[pass]]

    </table>


    <a class="button is-info is-left" href="[[=URL('index')]]">
        <span class="icon">
            <i class="fa fa-arrow-left"></i>
        </span>
        <span>Back</span>

    </a>

    <a class="button is-warning is-left" href="[[=URL('add_phone', currID, signer=url_signer)]]">
        <span class="icon">
            <i class="fa fa-plus"></i>
        </span>
        <span>Add Number</span>

    </a>



 </div>
